@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f9fafc;
  font-family: "Poppins", sans-serif;
  color: #253858;
}

/* body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; 
} */
.ReactCollapse--collapse {
  transition: height 300ms;
}
